h3 {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  margin: 15px 0px 15px;
  color: var(--color_dark_Blue);
}

#flexContainer {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#gameContainer {
    /* position: relative;
    top: 60px; */
    /* width: 100%; */
}

.blur {
    filter: blur(3px);
}


#lyricsContainer {
    margin: 10px auto;
    width: 80%;
    height: 180px;
    overflow-y: scroll;
    border-bottom: 3px solid var(--color_dark_Blue);
    padding-bottom: 10px;
}

#lyrics {
    color: var(--color_teal);
}

#scrollGuide {
    margin: 0px;
    text-align: center;
    color: grey;
}

#answerContainer {
    width: 80%;
    margin: 0 auto;
}

#answerContainer button {
    margin-bottom: 30px;
}

#timeCountDown {
    position: absolute;
    top: 10px;
    right: 10px;
}

#timeCountDown h3 {
    color: var(--color_dark_Blue);
    margin: 0px;
}

#timeCountDown h3 strong {
    color: var(--color_green);
}

.correct {
    background-color: var(--color_green);
    color: var(--color_white);
}

.incorrect {
    background-color: var(--color_red);
    color: var(--color_white);
}

#answerOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    display: none; /* Change to flex to display */
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#answerOverlay button {
    width: 60%;
    margin: 0 auto;
}

#answerStatus {
    z-index: 7;
}

ul {
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

#backButton {
    position:absolute;
    top: 10px;
    left: 10px;
}

@media only screen and (min-height: 800px) {

    #lyricsContainer {
        height: 350px;
    }
}

@media only screen and (min-height: 700px) {

    #lyricsContainer {
        height: 250px;
    }
}



@media only screen and (min-height: 600px) {

    #instructionsRecordImage {
        height: 200px;
    }
}

@media only screen and (max-height: 600px) {

    #instructionsRecordImage {
        height: 140px;
    }
}
