#instructionsContainer{
  width: 100%;
  position: absolute;
  top: 0px;
  bottom:0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#instructionsInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#instructionsLogo {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0
}

#instructionsLogo img {
  width:100%;
}

#instructionsSetupHeader {
    width: 100%;
}

#instructionsRecordImage {
    background-image: url("../images/album-audio-classic-1616470.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

#instructionsSetupHeader h2 {
  text-align: center;
  color: var(--color_teal);
  letter-spacing: 5px;
  text-align: center;
  border-bottom: 3px solid var(--color_dark_Blue);
}

.instructionsListContainer {
    margin-top:20px;
    border-top: 3px solid var(--color_dark_Blue);
}

h3 {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  margin: 15px 0px 0px;
}

ul {
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

#backButton {
    margin: 10px;
}

@media only screen and (min-height: 600px) {

    #instructionsRecordImage {
        height: 200px;
    }
}

@media only screen and (max-height: 600px) {

    #instructionsRecordImage {
        height: 140px;
    }
}
